.llm-header {
    font-family: Courier, monospace;
    font-size: 2em;
    font-weight: 600;
}

.llm-endpoint-input {
    height: 35px !important;
    width: 400px;
}

.llm-model-input {
    height: 35px !important;
    width: 150px;
}

.invoke-btn {
    margin-top: 10px;
}

.prompt-input {
    width: 500px;
    height: 90px !important;
    resize: none;
}

.AI_response {
    border: 2px solid springgreen;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: absolute;
}

.AI_response > p {
    font: 1.2em sans-serif;
    line-height: 1.6;
}